<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <img src="/img/me_photo.jpeg" alt="image here">
    <p>Made by {{name}}.</p>
</body>
{{>footer}}
<script src="/js/app.js"></script>
</html>